.mobile-content {
    background: #f0f0f0 !important;
    margin-top: 30vw;
    z-index: 800;
}

.mobile-logo {
    display: flex;
}

.mobile-logo img {
    width: 80vw;
    height: auto;
    margin: auto;
}

.mobile-tech-stack {
    width: 100vw;
    display: flex;
    margin-bottom: 5vw;
}

.mobile-tech-stack ul {
    display: flex;
    margin: auto;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.mobile-tech-stack img {
    width:  10vw;
    height: auto;
}


.mobile-title h1 {
    font-family: "EB Garamond", serif;
    text-align: center;
    margin-top: 0vw;
}

.mobile-content-info {
    display: flex;
    margin: auto;
    margin-bottom: 5vw;
    flex-direction: column;
}

.mobile-content-left-text {
    width: 80vw;
    margin: auto;   
    margin-left: 10vw;
}

.mobile-content-left-image {
    width: 80vw;
    margin: auto;
}

.mobile-sub-title {
    font-family: "EB Garamond", serif;
    margin: auto;
    font-size: 2.5vw;
    margin-left: 0;
}

.mobile-content-left h1 {
    font-size: 2vw;
    margin-top: 0vw;
}

.mobile-paragraph {
    font-size: 3vw;
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    margin: auto;
}

.mobile-image-right {
    width: 80vw;
    margin: auto;
    display: flex;
    margin-right: 10vw;
}

.mobile-content-right-text {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.mobile-content-right-image {
    width: 100vw;
    height: auto;
}

.mobile-single-image  {
    display: flex;
}

.mobile-single-image img {
    height: auto;
    width: 80vw;
    margin: auto;
}

.mobile-mini img {
    height: auto;
    width: 60vw;
    margin: auto;
}

.mobile-content-full {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.mobile-content-list {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.mobile-list {
    font-size: 3vw;
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    margin: auto;
    margin-left: -2.5vw;
}

.mobile-list ul {
    column-count: 1;
    padding-left: 1.5rem;
}

@media (min-width: 700px) {
    .mobile-list ul {
        column-count: 2;
        column-gap: 11rem;
    }
}

.mobile-single-video {
    display: flex;
    margin: auto;
}

.mobile-single-video video {
    width: 80vw;
    margin: auto;
    height: auto;
}

.mobile-mobile video {
    width: 45vw;
    margin: auto;
    height: auto;
}

.reverse {
    flex-direction: column-reverse;
}

a {
    color: #000;
}