.mobile-homeContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 4vw;
    background-color: #f0f0f0;
    margin-top: 15vw;
}

.mobile-leftContent {
    width: 80vw;
    padding-top: 5vw;
    margin: auto;
}

.mobile-rightContent {
    width: 100vw;
    float: right;
    
    position: relative;
    width: 50vw;
    height: 50vw;
    border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%; // forma orgânica
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.mobile-title {
    font-size: 8vw;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "EB Garamond", serif;
}

.mobile-description {
    font-size: 3vw;
    color: #666;
    font-family: "Quicksand", sans-serif;
    margin-top: 1vw;
    text-align: justify;
    width: 80vw;
}

.mobile-usImage {
    width: 85vw;
    height: auto;
    object-fit: cover;
    margin-top: -29vw;
    margin-left: -14vw;
}