.mobile-main-header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    font-family: "EB Garamond", serif;
    font-weight: bold;
    height: 10vw;
    background-color: #f0f0f0;

    nav {
        margin: auto;
        margin-right: 1.5vw;
    }

    .mobile-logo {
        cursor: pointer;
        font-size: 5vw;
        font-weight: bold;
        margin: auto;
        margin-left: 2vw;
    }
}

.mobile-second-header {
    top: 10vw;
    position: fixed;
    z-index: 1000;
    display: flex;
    background-color: #f0f0f0;
    height: 7vw;
    width: 100vw;

    .mobile-menu {
        display: flex;
        gap: 24px;
        list-style: none;
        margin: auto;
        margin-left: 2vw;
        padding: 0;

        li {
            cursor: pointer;
            margin: auto;
            a {
                text-decoration: none;
                color: #333;
                font-weight: bold;
                font-family: inherit;
                font-size: 3.2vw;
            }
        }
    }
}