<header [class]="mobileMenu ? 'mobile-main-header fade-in' : 'main-header fade-in'">
    <div [class]="mobileMenu ? 'mobile-logo' : 'logo'" (click)="toHome()">Fernando Muniz Erthal</div>
    <nav *ngIf="!mobileMenu">
        <ul class="menu">
            <li><a class="not-select" (click)="toAbout()">{{ 'ABOUT' | translate:'header' }}</a></li>
            <li><a class="not-select" (click)="toProjects()">{{ 'PROJECTS' | translate:'header' }}</a></li>
            <li><a class="not-select" (click)="toExperiences()">{{ 'EXPERIENCE' | translate:'header' }}</a></li>

            <li><img (click)="changeLanguage()" [src]="'images/flag/' + (language == 'en' ? 'pt' : 'en') + '.png'" style="margin: auto; margin-right: -0.5vw; width: 1.5vw; height: auto;"></li>
        </ul>
    </nav>

    <div *ngIf="mobileMenu">
        <img (click)="changeLanguage()" [src]="'images/flag/' + (language == 'en' ? 'pt' : 'en') + '.png'" style="margin: auto; margin-top: 1vw; margin-right: 2vw; width: 7vw; height: auto;">
    </div>
</header>
<header *ngIf="mobileMenu" class="mobile-second-header fade-in">
    <nav>
        <ul class="mobile-menu">
            <li><a class="not-select" (click)="toAbout()">{{ 'ABOUT' | translate:'header' }}</a></li>
            <li><a class="not-select" (click)="toProjects()">{{ 'PROJECTS' | translate:'header' }}</a></li>
            <li><a class="not-select" (click)="toExperiences()">{{ 'EXPERIENCE' | translate:'header' }}</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>