.mobile-homeContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 4vw;
    background-color: #f0f0f0;
    margin-top: 15vw;
    margin-bottom: 10vw;
}

.mobile-leftContent {
    margin: auto;
    margin-top: 10vw;
}

.mobile-rightContent {
    position: relative;
    width: 50vw;
    height: 50vw;
    border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%; // forma orgânica
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 5vw;
}

.mobile-title {
    font-size: 8vw;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "EB Garamond", serif;
}

.mobile-subtitle {
    font-size: 4vw;
    margin-top: -4vw;
    width: 79vw;
    font-family: "Quicksand", sans-serif;
}

.mobile-description {
    font-size: 3vw;
    color: #666;
    font-family: "Quicksand", sans-serif;
    margin-top: 5vw;
    text-align: justify;
    width: 79vw;
}

.mobile-buttons {
    display: flex;
    margin-top: 10vw;
}

.mobile-buttonImage {
    width: 8vw;
    height: auto;
    margin-right: 3vw;
    cursor: pointer;
}

.mobile-profileImage {
    width: 85vw;
    height: auto;
    object-fit: cover;
    margin-top: -42vw;
    margin-left: -16vw;
}

.mobile-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-listOfProjectsBackground {
    background-color: black;
    padding-left: 2vw;
}

.mobile-listOfProjects {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: auto;
}

.mobile-project {
    margin: auto;
}

.mobile-projectImage {
    width: 25vw;
    height: auto;
    margin: auto;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}